In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('data/new-site.csv', sep='\t')

In [7]:
data.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [10]:
data.groupby(['site'])['dwell-time'].count().round()

site
0    186
1    114
Name: dwell-time, dtype: int64

In [11]:
dataA = data[data['site']==0]
dataB = data[data['site']==1]

In [12]:
dataA.head()

   site  dwell-time
0     0           2
2     0          15
4     0          38
6     0         571
8     0         233

In [13]:
dataB.head()

    site  dwell-time
1      1          48
3      1          16
5      1         169
7      1          38
10     1         336

In [16]:
from scipy.stats import ttest_ind
H0 = 'Время в группах одинаковое'
H1 = 'Время в группе А больше, чем в группе В'
alpha = 0.05
results = ttest_ind(a=data[data['site']==0], b=data[data['site']==1], alternative='greater')
print('p-value:', results.pvalue)
if results.pvalue<alpha:
    print('Отвергаем нулевую гипотезу. {}'.format(H1))
else:
    print('Принимаем нулевую гипотезу: {}'.format(H0))

p-value: [1.         0.40691323]

C:\Users\Anna\AppData\Local\Temp\ipykernel_8636\2077566406.py:5: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  results = ttest_ind(a=data[data['site']==0], b=data[data['site']==1], alternative='greater')

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()

In [18]:
from scipy.stats import shapiro
H0 = 'Распределения нормальные'
H1 = 'Распределение в одной или обеих группах отлично от нормального'
alpha = 0.05
shapiro_a = shapiro(dataA['dwell-time'])
shapiro_b = shapiro(dataB['dwell-time'])
print('p-value группы А ', shapiro_a.pvalue)
print('p-value группы В ', shapiro_b.pvalue)
if shapiro_a.pvalue<alpha or shapiro_b.pvalue<alpha:
    print('Отвергаем нулевую гипотезу. {}'.format(H1))
else:
    print('Принимаем нулевую гипотезу: {}'.format(H0))

p-value группы А  4.499856245715815e-17
p-value группы В  3.5727467533920587e-13
Отвергаем нулевую гипотезу. Распределение в одной или обеих группах отлично от нормального