In [2]:
import pandas as pd
rats1 = pd.read_csv('data/ratings1.csv')
rats2 = pd.read_csv('data/ratings2.csv')
dates = pd.read_csv('data/dates.csv')
mov = pd.read_csv('data/movies.csv')

In [8]:
rats1.nunique()

userId      274
movieId    6219
rating       10
dtype: int64

In [4]:
rats2

       userId  movieId  rating
0         274     5621     2.0
1         274     5630     3.0
2         274     5667     3.5
3         274     5679     3.5
4         274     5690     3.0
...       ...      ...     ...
60831     610   166534     4.0
60832     610   168248     5.0
60833     610   168250     5.0
60834     610   168252     5.0
60835     610   170875     3.0

[60836 rows x 3 columns]

In [7]:
mov.nunique()

movieId    9742
title      9737
genres      951
dtype: int64

In [13]:
dates['date'] = pd.to_datetime(dates['date'])

In [14]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 1 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   date    100836 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 787.9 KB

In [16]:
dates['date'].dt.year.value_counts()

2000    10061
2017     8198
2007     7114
2016     6703
2015     6616
2018     6418
1996     6040
2005     5813
2012     4656
2008     4351
2009     4158
2006     4059
2003     4014
2001     3922
2002     3478
2004     3279
1999     2439
2010     2301
1997     1916
2011     1690
2013     1664
2014     1439
1998      507
Name: date, dtype: int64

In [18]:
ratings = pd.concat([rats1, rats2], ignore_index=True)

In [19]:
ratings = ratings.drop_duplicates(ignore_index=True)